/** @format */

.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  max-width: 680px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .container {
    max-width: 390px;
    padding: 15px;
  }
}
@media (max-width: 755px) {
  .container {
    width: 490px;
    padding: 5px;
  }
}
