/** @format */

.overview {
  margin-bottom: 20px;
  margin-left: 5px;
  color: rgb(135, 135, 135);
}
h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
UL {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.float-left {
  float: left;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  margin-left: 4px;
}
.weather-temperature .units a {
  text-decoration: none;
}
.weather-temperature .units a:hover {
  text-decoration: underline;
}
